<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#6387F5">

    <link rel="manifest" href="static/manifest.json">
    <link rel="stylesheet" href="{{ 'static/styles/main.css' | add_hash }}">
    <link rel="icon" href="/static/images/icons/rs-icon@192.png">

    <title>RWANDASOFT Ltd</title>
  </head>
  <body>
    {% block contents %}  {% endblock %}
    <script src="{{ 'static/scripts/main.js' | add_hash }}" type="text/javascript" ></script>
    <script src="{{ '/rs/sw.js' }}" type="text/javascript"></script>
  </body>
</html>
